.container{
    width: 35vw;
    
     
    /* background-color: red; */

}
.slider1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.up{
    /* background-color: green; */
    margin-bottom: 20px;
}


.mainImage{
    width: 30vw;
    height: 30vw;
    border: 3px solid #000000;
    border-radius: 16px;
}

.subImage{
    width: 9vw;
    height: 9vw;
    border: 3px solid #000000;
    border-radius: 16px;
}

.test{
   
    display: flex;
    justify-content: center;
    margin-left: 2.5vw;

}

.slider2{
    width: 30vw;
    margin-left: 3.1vw;
}