.sliderContainer{
    width:85vw;
    margin-block-end: 30px;
    margin-block-start: 10px;
    
}


.image{
    width: 316.97px;
    height: 311.27px;
    border: 1px solid black;
    border-radius: 4px;
    
    
}