.sliderContainer{
    width:316px;
    margin-block-end: 30px;
    margin-block-start: 10px;
    border: 2px solid black;
    border-radius: 5px;
    
}


.image{
    width: 316.97px;
    height: 311.27px;
    
    border-radius: 4px;
    
    
    
}