.backButtonContainer{
    width: 90vw;
}

.backButton{
    font-family: Roboto;
font-size: 17.13px;
font-weight: 500;
padding: 7px;
text-align: left;
color: white;
background: #2E0052;
border-style: none;
padding: 7px;
border-radius: 10px;
padding-inline: 30px;
display: flex;
align-items: center;
justify-content: center;
}