.arrowBack{
    width: 100vw;
    margin-left: 20px;
    margin-block: 10px;
    
}

.arrowBack button {
    border-radius: 50%;
    border-style: none;
    width: 32px;
height: 32px;
display: flex;
align-items: center;
justify-content: center;

box-shadow: 0px 1px 4px 0px #00000054;
background-color: white;




}