.productGridContainer{
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    row-gap: 20px;
    width: 90vw;
    grid-template-columns: repeat(auto-fill,270px);
    margin-block: 20px;
    min-height: 300px;
}